Repository HansenChristoffer/GoAddons, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI Package, Database Package, Init Package, Models Package, Net Package, System Package, Updater Package, Utils Package, Version Package, Main Package

.github/labeler.yml:

# .github/labeler.yml

"CLI Package":
  - cli/**/*

"Database Package":
  - database/**/*

"Init Package":
  - init/**/*

"Models Package":
  - models/**/*

"Net Package":
  - net/**/*

"System Package":
  - system/**/*

"Updater Package":
  - updater/**/*

"Utils Package":
  - utils/**/*

"Version Package":
  - version/**/*

"Main Package":
  - "*"
  - "!.github/**/*"
  - "!database/**/*"
  - "!cli/**/*"
  - "!init/**/*"
  - "!models/**/*"
  - "!net/**/*"
  - "!system/**/*"
  - "!updater/**/*"
  - "!utils/**/*"
  - "!version/**/*"

Create build-and-release.yml
  .github/workflows/build-and-release.yml
Labels: Main Package

Update build-and-release.yml
  .github/workflows/build-and-release.yml
Labels: Main Package

Update build-and-release.yml
  .github/workflows/build-and-release.yml
Labels: Main Package

Update build-and-release.yml
  .github/workflows/build-and-release.yml
Labels: Main Package

Create SECURITY.md
  SECURITY.md
Labels: Main Package

Update CONTRIBUTION.md
  CONTRIBUTION.md
Labels: Main Package

Update CONTRIBUTION.md
  CONTRIBUTION.md
Labels: Main Package

Update README.md
  README.md
Labels: Main Package

Update README.md
  README.md
Labels: Main Package

Create dependabot.yml
  .github/dependabot.yml
Labels: Main Package

Update FUTURE.md
  FUTURE.md
Labels: Main Package

Test initiative - Database
  README.md
  database/Connection.go
  database/DatabaseGetter.go
  database/DatabaseGetter_test.go
  database/DatabaseLogger_test.go
  database/DatabaseUpdater_test.go
  go.mod
  go.sum
Labels: Database Package, Main Package

Test initiative - Database
  README.md
  database/Connection.go
  database/DatabaseGetter.go
  database/DatabaseGetter_test.go
  database/DatabaseLogger_test.go
  database/DatabaseUpdater_test.go
  go.mod
  go.sum
  version/Version.go
Labels: Database Package, Version Package, Main Package

Update README.md
  README.md
Labels: Main Package

Update docker-compose.yml
  docker-compose.yml
Labels: Main Package

SQLite3 Migration & PollingExtractor
  cli/AddonManagement.go
  cli/core.go
  database/Connection.go
  database/DatabaseGetter.go
  database/DatabaseGetter_test.go
  database/DatabaseLogger.go
  database/DatabaseLogger_test.go
  database/DatabaseUpdater.go
  database/DatabaseUpdater_test.go
  database/Initializer.go
  docker-compose.yml
  go.mod
  go.sum
  init.sql
  init/init.sql
  net/BrowserDownload.go
  net/DirectDownload.go
  system/Ziperino.go
  updater/AddonUpdater.go
  updater/Extractor.go
  utils/CliUtils.go
Labels: CLI Package, Database Package, Init Package, Net Package, System Package, Updater Package, Utils Package, Main Package

SQLite3 Migration & PollingExtractor
  cli/AddonManagement.go
  cli/core.go
  database/Connection.go
  database/DatabaseGetter.go
  database/DatabaseGetter_test.go
  database/DatabaseLogger.go
  database/DatabaseLogger_test.go
  database/DatabaseUpdater.go
  database/DatabaseUpdater_test.go
  database/Initializer.go
  docker-compose.yml
  go.mod
  go.sum
  init.sql
  init/init.sql
  net/BrowserDownload.go
  net/DirectDownload.go
  system/Ziperino.go
  updater/AddonUpdater.go
  updater/Extractor.go
  utils/CliUtils.go
Labels: CLI Package, Database Package, Init Package, Net Package, System Package, Updater Package, Utils Package, Main Package

Update README.md
  README.md
Labels: Main Package

Update README.md
  README.md
Labels: Main Package

Update README.md
  README.md
Labels: Main Package

Concurrency & Database updates
  cli/core.go
  database/Connection.go
  database/DatabaseInitializerIT_test.go
  database/DatabaseLogger.go
  database/DatabaseLogger_test.go
  database/Initializer.go
  database/init.sql
  main.go
  net/BrowserDownload.go
  system/Ziperino.go
  updater/AddonUpdater.go
  updater/Extractor.go
Labels: CLI Package, Database Package, Net Package, System Package, Updater Package, Main Package

Concurrency & Database updates
  cli/core.go
  database/Connection.go
  database/DatabaseInitializerIT_test.go
  database/DatabaseLogger.go
  database/DatabaseLogger_test.go
  database/Initializer.go
  database/init.sql
  main.go
  net/BrowserDownload.go
  system/Ziperino.go
  updater/AddonUpdater.go
  updater/Extractor.go
Labels: CLI Package, Database Package, Net Package, System Package, Updater Package, Main Package

Pushing versioning to v1.1.0
  version/Version.go
Labels: Version Package, Main Package

Pushing versioning to v1.1.0
  version/Version.go
Labels: Version Package, Main Package
